{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}


{% block content %}
    <div class="w-100 vh-100 my-bg-color pt-5">
        <div class="container">
            <div class="row">
                <div class="card-header">ToDo</div>
                    <div class="card">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-green px-5">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}